<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <main>
    <section class ="cajaprecio_detalle">
                <div class ="titulo_detalle_producto">
                    <%=product.nombre%> <%=product.tono%> <%=product.precio%> | <%=product.oferta%> 
            
                <div class = "<%= cssStock %>">
                    <%= hayStock %>
                </div>
               
                <div class = "botones_detalle">
                    
                    <!-- <a href = "/products/<%=product.id%>/editImage"><button class = "boton">Editar Imagenes</button></a> -->
                    <a href = "/productos/<%=product.id%>/edit"><button class = "boton">Editar Producto</button></a>
                    <form action="/productos/<%=product.id %>?_method=DELETE" method="POST">
                        <button type="submit" class = "boton">Eliminar</button>
                    </form>
                </div>
            </section>
            </div>
            
               

                    
        </main>
</body>
</html>