<!DOCTYPE html>
<html lang="en">
<head>
     <%- include ("../partials/head") -%>
    <link rel="stylesheet" href="/css/editPro.css">
    <title>Edicion de Producto</title>
</head>
<body>
    <%- include ("../partials/header") -%>
    <main>
    </div>
    <form class = "listadoregistro" action = "/productos/<%=editProduct.id %>?_method=PATCH" method = "POST">
            <div class = "cajaregistro">
            <div class = "camposregistro">
                <label for="nombre">Nombre</label><br>
                <input class="ingresodato" value = "<%= editProduct.nombre %>" type="text" id="nombre" name="nombre" >
             </div>        
            <div class = "camposregistro">
                <label for="tono">Tono</label><br>
                <input class="ingresodato" value = "<%= editProduct.tono %>" type="text" id="tono" name="tono" >
            </div> 
            <div class = "camposregistro">
                <label for="precio">Precio</label><br>
                <input class="ingresodato" value = "<%= editProduct.precio %>" type="text" id="precio" name="precio" >
            </div>
            
            <div class = "camposregistro">
                <label for="stock">stock</label><br>
                <input class="ingresodato" value = "<%= editProduct.stock %>" type="text" id="stock" name="stock">
            </div> 
        
            <div  class = "camposregistro" style ="display:flex; flex-direction:column">
                <label style="margin-bottom:7px" for="oferta">Esta en Oferta:</label>
                <% if (editProduct.oferta === "si") { %> 
                <p><input type="radio" checked value="Si" name ="oferta"> Si</p>
                <p><input type="radio" value="No" name ="oferta"> No</p>
                <% } else { %>
                <p><input type="radio" value="Si" name ="oferta"> Si</p>
                <p><input type="radio" checked value="No" name ="oferta"> No</p>
                <% } %>
            </div> 

            <div class ="cajabotones">

                <div>
                    <input type="submit" value="Enviar" class = "boton">
                </div>
            
                
                <div>
                    <a href = "/productos/<%=editProduct.id%>"><button class = "boton">Regresar</button></a>
                </div>
                </div> 
                       
    </form>
    </main>
     <%-include ("../partials/footer") -%>
</body>
</html>