<!DOCTYPE html>
<html lang="en">
<head>
     <%- include ("./partials/head") -%>
</head>
<body>
   <%- include ("./partials/header") -%>
  
    <main>
    <div>
    <img class="mujeres" src="/image/header.jpg" alt="mujeres">
   </div>
   <h1 class="oferta">ofertas</h1>
        <section class="sec-promo">
      
          <div class="container">
           <div class="container-producto"></div>
            <% topCincoVendidos.forEach(producto => { %>
                <div>
                <a href = "/productos/<%=producto.id%>">
                <img class="img" src="/image/<%=producto.image%>">
               </div>
                <div class="descripcionProd">
                    <%= producto.nombre %>
                </div>
                <div class="descripcionProd">
                    <%= producto.tono %>
                </div>
                 <div class="descripcionProd">
                $ <%=toThousand(producto.precio)%>
                </div>
                 <div>
                <span>Oferta :<%= producto.oferta %></span>
                </div>
                 <div class="descripcionProd">
                    <span> stock :<%= producto.stock %></span>
                </div>
                <button class="boton-agregar-carrito">Agregar al carrito</button>
            <% }) %>
          </div>
          
        </section>
    </main>
    <a class="crear"href="/productos/create">Crear producto</a>
    <%-include ("./partials/footer") -%>
</body>
</html>