<!DOCTYPE html>
<html lang="en">
<head>
     <%- include ("./partials/head") -%>
</head>
<body>
   <%- include ("./partials/header") -%>
    <main>
        <section class="sec-promo">
       
      
          <div class="container-promo">
           
            
            <% topCincoVendidos.forEach(producto => { %>
                <a href = "/productos/<%=producto.id%>">
                <img class="img" src="/image/<%=producto.image%>">
                <div>
                    <%= producto.nombre %>
                </div>
                <div>
                    <%= producto.tono %>
                </div>
               
                 <div class="precio">$ <%=toThousand(producto.precio)%></div>
                 <div>
                    <%= producto.oferta %>
                </div>
                 <div>
                    <%= producto.stock %>
                </div>
                <button class="boton-agregar-carrito">Agregar al carrito</button>
            <% }) %>
          </div>
        </section>
    </main>
    <a href="/productos/create">Create product</a>
    <%-include ("./partials/footer") -%>
</body>
</html>