<!DOCTYPE html>
<html lang="en">
<head>
     <%- include ("./partials/head") -%>
</head>
<body>
   <%- include ("./partials/header") -%>
    <main>
        <section class="sec-promo">
       
          
          <div class="container-promo">
            <% productos.forEach(producto => { %>
                <div>
                    <%= producto.nombre %>
                </div>
                <div>
                    <%= producto.tono %>
                </div>
                <div>
                    <%= producto.precio %>
                </div>
                <div>
                    <%= producto.oferta %>
                </div>
                 <div>
                    <%= producto.stock %>
                </div>
            <% }) %>
          </div>
        </section7>
    </main>
    <a href="/create">Create product</a>
    <%-include ("./partials/footer") -%>
</body>
</html>